<!DOCTYPE html>
<html>
  <head>
    <title>Jakob Hostnik</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="site.css" rel="stylesheet" type="text/css" media="all">
    <link href="fontawesome/css/all.css" rel="stylesheet">
    <script type="text/javascript" src="data.js"></script>
    <script type="text/javascript" src="site.js"></script>
    <script type="text/javascript" src="tempo.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>
  <body class="row p-0 m-0" data-template>
    <div class="col-12 row p-0 m-0">
      <div class="col-12 offset-0 col-lg-6 offset-lg-3 id-card card p-0">
        <div class="card-body row p-0">
          <div class="col-12 col-xl-6 p-5 bg-primary">
            <dl data-template data-template-for="misc.info">
              <div class="row"><dd class="col fs-1 d-inline">{{name}}</dd></div>
              <div class="row"><dt class="col-1 d-inline"><i class="fas fa-graduation-cap"></i></dt><dd class="col d-inline">{{headline}}</dd></div>
              <div class="row"><dt class="col-1 d-inline"><i class="fas fa-suitcase"></i></dt><dd class="col d-inline">{{job}}</dd></div>
              <div class="row"><dt class="col-1 d-inline"><i class="fab fa-github"></i></dt><dd class="col d-inline"><a class="ignore-link" href="https://github.com/{{username}}">{{username}}</a></dd></div>
              <div class="row"><dt class="col-1 d-inline"><i class="fas fa-birthday-cake"></i></dt><dd class="col d-inline">{{born | date 'localedate'}}</dd></div>
              <div class="row"><dt class="col-1 d-inline"><i class="fas fa-address-card"></i></dt><dd class="col d-inline">{{address}}</dd></div>
              <div class="row"><dt class="col-1 d-inline"><i class="fas fa-envelope"></i></dt><dd class="col d-inline"><a class="ignore-link" href="mailto:{{email}}">{{email}}</a></dd></div>
              <div class="row"><dt class="col-1 d-inline"><i class="fas fa-phone"></i></dt><dd class="col d-inline"><a class="ignore-link" href="tel:{{phone}}">{{phone}}</a></dd></div>
            </dl>
          </div>
          <div class="col-12 col-xl-6 profile p-0 bg-white" class="profile" style="background-image: url('contents/{{misc.info.image}}');">
              <div class="d-xl-block d-none profile-triangle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 row p-0 m-0">
      <div class="card col-12 offset-0 offset-lg-2 col-lg-8 bg-secondary p-5">
        <div class="card-body">
          <div class="row text-capitalize">
            <div class="col">
              <div class="fs-5 mb-5">Personality traits</div>
            </div>
            <div class="col">
              <div class="fs-5 mb-5">Interests</div>
            </div>
            <div class="col">
              <div class="fs-5 mb-5">Languages</div>
            </div>
          </div>
          <div class="row text-capitalize" data-template data-template-for="misc.info">
            <div class="col">
              <span class="badge tag bg-primary" data-template-for="personalityTraits">{{this}}</span>
            </div>
            <div class="col">
              <span class="badge tag bg-info" data-template-for="interests">{{this}}</span>
            </div>
            <div class="col">
              <span data-template-for="languages" data-from-map class="col badge tag bg-warning"><b>{{key}} </b>{{value}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 row p-0 m-0">
      <div class="card col-12 offset-0 offset-md-2 col-md-8 p-5 filter-card">
        <div class="card-body">
          <dl class="row text-capitalize">
            <h3 class="col-12">Filter cards</h3>
            <div class="col">
              <div id="filter-tags" class="mb-3">
              </div>
              <div id="filter-skills">
              </div>
            </div>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-12 row timeline p-0 m-0">
      <div data-template-for="timeline" class="card offset-0 col-12 offset-md-2 col-md-8 p-5" data-tags="{{ tags | join ';' }}" data-skills="{{ skills | join ';' }}">
        <div class="card-body">
          <h1>{{headline}}</h1>
          <span class="badge badge-dark bg-dark tag">{{start | date 'YYYY'}}{{end | date '-YYYY'}}</span>
          <div>
            <button data-template-for="tags" class="filter-tag-btn tag btn btn-primary" onclick="activateTag('{{this}}')">{{this}}</button>
          </div>
          <div>
            <a class="tag bg-success badge badge-success" target="_blank" data-template-for="links" href="{{this}}">{{ this | truncate 40 | replace '(https?://(www\.)?)|(contents\/)', "}}</a>
          </div>
          <p>{{description}}</p>
          <dl>
            {% if (typeof mentor !== "undefined") %}
              <dt>Mentor</dt>
              <dd>{{mentor}}</dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof comentor !== "undefined") %}
              <dt>Comentor</dt>
              <dd>{{comentor}}</dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof grade !== "undefined") %}
              <dt>Grade</dt>
              <dd>{{grade}}</dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof team !== "undefined") %}
            <dt>Team</dt>
            <dd data-template-for="team">
              <h5>{{name}}</h5>
              <div data-template-for="members">{{this}}</div>
            </dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof place !== "undefined") %}
            <dt>Location</dt>
            <dd>{{place}}</dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof project !== "undefined") %}
            <dt>Project</dt>
            <dd data-template-for="project">
              <div>{{name}}</div>
              <div>{{description}}</div>
            </dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof accomplishments !== "undefined") %}
            <dt>Accomplishments</dt>
            <dd>{{accomplishments}}</dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof projects !== "undefined") %}
            <dt>Projects</dt>
            <dd data-from-map data-template-for="projects" data-skills="{{ value.skills | join ';' }}">
              <div>{{key}}</div>
              <div>
                <button data-template-for="value.skills" class="filter-tag-btn tag btn btn-secondary" onclick="activateSkill('{{this}}')">{{this}}</button>
              </div>
            </dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof guests !== "undefined") %}
            <dt>Guests</dt>
            <dd>
              <div data-template-for="guests">{{guest}} - {{from}} </div>
            </dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof vulnerability !== "undefined") %}
            <dt>Vulnerability</dt>
            <dd>{{vulnerability}}</dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof companyName !== "undefined") %}
            <dt>Company</dt>
            <dd>{{companyName}}</dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof companySize !== "undefined") %}
            <dt>Company size</dt>
            <dd>{{companySize}}</dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof linkedCards !== "undefined") %}
            <dt>Linked tags</dt>
            <dd>
              <button data-template-for="linkedCards" class="filter-tag-btn tag btn btn-primary" onclick="activateTag('{{this}}')">{{this}}</button>
            </dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof institution !== "undefined") %}
            <dt>Institution</dt>
            <dd>{{institution}}</dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof educationLevelNumber !== "undefined") %}
            <dt>Education Level</dt>
            <dd>{{educationLevelNumber}}</dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof programName !== "undefined") %}
            <dt>Program</dt>
            <dd>{{programName}}</dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof earnedTitle !== "undefined") %}
            <dt>Earned title</dt>
            <dd>{{earnedTitle}}</dd>
            {% endif %}
          </dl>
          <dl>
            {% if (typeof subjectsList !== "undefined") %}
            <dt>Classes</dt>
            <dd>{{subjectsList}}</dd>
            {% endif %}
          </dl>
          <div></div>
          <div class="m-1 d-inline-block" data-template-for="media">
            <a  data-fslightbox="gallery" href="contents/{{full}}">
              <img width="200" src="contents/{{thumb}}"/>
            </a>

          </div>
          <div>
            <button data-template-for="skills" class="filter-tag-btn tag btn btn-secondary" onclick="activateSkill('{{this}}')">{{this}}</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="fslightbox.js"></script>
    <script>
      data.timeline.sort((a, b)=> new Date(b.start).getTime() - new Date(a.start).getTime());
      Tempo.prepare(document.body).when(TempoEvent.Types.RENDER_COMPLETE, function (event) {
        loadFilters();
        registerEvents();
        refreshFsLightbox();
      }).render(data);
    </script>
  </body>
</html>
