body {
  background-color: rgba(0, 0, 0, 0);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-image: url("contents/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial!important;
}
.profile {
  background-position: 50% bottom;
  background-repeat: no-repeat;
  background-size: 600px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 600px;
}

.id-card .card-body {
  background-color: transparent;
  box-shadow: 0 1rem 3rem rgba(0,0,0,1) !important;
}
.id-card {
  background-color: transparent!important;
  margin-top: 10em!important
}

.profile-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 601px 0 0 100px;
  border-color: transparent transparent transparent #0d6efd;
}

.card {
  max-width 600px;
  box-shadow: 0 1rem 3rem rgba(0,0,0,1) !important;
  border-radius: 0!important;
  margin-bottom: 5em;
}

.tag {
  margin-bottom: 5px;
  margin-right: 5px;
}
#filter-skills, #filter-tags {
  max-height: 10em;
  overflow: auto;
}
.ignore-link {
  color: black;
}
.ignore-link:hover {
  color: black;
}
